---
import Layout from "@layouts/Layout.astro";
import { useTranslations } from "@i18n/utils";
import H2 from "@components/H2.astro";

const translate = useTranslations(Astro.currentLocale!);
const notFound = translate("notFound");
---

<Layout titlePrefix={notFound} breadcrumbs={[{ name: notFound }]}>
  <H2>
    {notFound}
  </H2>
  <blockquote class="text-xl italic text-gray-900 dark:text-white">
    <p>
      “{translate("quote")}”
    </p>
  </blockquote>
</Layout>
