---
import Layout from "@layouts/Layout.astro";
import { useTranslations } from "@i18n/utils";
import Nav from "@components/Nav.astro";

const translate = useTranslations(Astro.currentLocale!);
const notFound = translate("notFound");
---

<Layout titlePrefix={notFound} breadcrumbs={[{ name: notFound }]}>
  <Nav />
  <h2 class="sr-only">
    {notFound}
  </h2>
  <blockquote class="pt-8 text-xl italic">
    <p>
      “{translate("quote")}”
    </p>
  </blockquote>
</Layout>
