---
import Layout from "@layouts/Layout.astro";
import { useTranslations } from "@i18n/utils";
import H2 from "@components/H2.astro";

const translate = useTranslations(Astro.currentLocale!);
const about = translate("about");
---

<Layout titlePrefix={about} breadcrumbs={[{ name: about }]}>
  <H2>
    {about}
  </H2>
  <p>{translate("aboutText")}</p>
</Layout>
