---
import ThemeOptions from "@components/ThemeOptions.astro";
import Layout from "@layouts/Layout.astro";
import { useTranslations } from "@i18n/utils";
import H2 from "@components/H2.astro";

const translate = useTranslations(Astro.currentLocale!);
const settings = translate("settings");
---

<Layout titlePrefix={settings} breadcrumbs={[{ name: settings }]}>
  <H2>
    {settings}
  </H2>
  <ThemeOptions />
</Layout>
