---
import { useTranslations, getRelativeLocaleUrl } from "@i18n/utils";
import Anchor from "./Anchor.astro";

interface Props {
  breadcrumbs: { name: string; path?: string }[];
}

const { breadcrumbs } = Astro.props;
const translate = useTranslations(Astro.currentLocale!);

const previousBreadcrumbs = [...breadcrumbs];
const currentBreadcrumb = previousBreadcrumbs.pop();

if (previousBreadcrumbs.length === 0) {
  previousBreadcrumbs.push({
    path: getRelativeLocaleUrl("fr", ""),
    name: translate("home"),
  });
}
---

<nav aria-label={translate("breadcrumb")}>
  <ol class="flex flex-wrap gap-x-6 items-center">
    {
      previousBreadcrumbs.map(({ name, path }) => (
        <li class="relative after:content-['>'] after:absolute after:top-0 after:-right-4">
          <Anchor href={path!}>
            <span transition:name={`${name}-link`}>{name}</span>
          </Anchor>
        </li>
      ))
    }
    <li>
      <Anchor href="" aria-current="page" classname="font-bold text-balance"
        >{currentBreadcrumb!.name}</Anchor
      >
    </li>
  </ol>
</nav>
