---
import { Image } from "astro:assets";
import sword from "@assets/sword.png";
import { useTranslations } from "@i18n/utils";

const translate = useTranslations(Astro.currentLocale);
---

<div class="mt-8 pr-5 w-full max-w-[320px] h-60 overflow-hidden text-right">
  <Image
    class="inline-block rotate-12"
    src={sword}
    alt={translate("swordAlt")}
    height={320}
  />
</div>
<hr
  class="mb-8 w-full max-w-[320px] border-black opacity-50 dark:border-white ff7:border-white"
/>
