---
import { Image } from "astro:assets";
import sword from "@assets/sword.png";
import { useTranslations } from "@i18n/utils";

const translate = useTranslations(Astro.currentLocale);
---

<div
  class="mt-8 pr-5 w-full max-w-[320px] h-[240px] overflow-hidden text-right"
>
  <Image
    class="inline-block rotate-12"
    src={sword}
    alt={translate("swordAlt")}
    height={320}
  />
</div>
<hr
  class="mb-4 w-full max-w-[320px] border-t overflow-visible relative before:content-[''] before:absolute before:border-t before:w-8 before:-left-8 before:-top-[1px] before:hidden md:before:block"
/>
