---
import clsx from "clsx";

interface Props {
  classname?: string;
}

const { classname, ...restProps } = Astro.props;
---

<h2
  class={clsx("pb-4 text-lg font-mono text-balance", classname)}
  {...restProps}
>
  <slot />
</h2>
