---
import clsx from "clsx";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "@i18n/utils";
import Anchor from "./Anchor.astro";

const pages = ["games", "movies", "books", "music", "events", "merch"] as const;

type Page = (typeof pages)[number];

interface Props {
  currentPage: Page;
}

const { currentPage } = Astro.props;
const translate = useTranslations(Astro.currentLocale);
---

<nav aria-label={translate("categories")}>
  <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-2 md:gap-0">
    {
      pages.map((page, index) => {
        const isCurrent = currentPage === page;
        return (
          <li
            class={clsx(
              "md:p-2 text-center",
              isCurrent ? "md:border-x md:border-t" : "md:border-b",
              index === 0 &&
                "relative before:absolute before:border-b before:w-8 before:-left-8 before:-bottom-[1px] before:hidden md:before:block"
            )}
          >
            <Anchor
              href={
                isCurrent
                  ? ""
                  : getRelativeLocaleUrl(
                      Astro.currentLocale || "en",
                      page === "games" ? "" : page
                    )
              }
              classname={clsx(
                "text-xl uppercase font-mono",
                isCurrent ? "font-bold" : ""
              )}
              aria-current={isCurrent ? "page" : undefined}
            >
              {translate(page)}
            </Anchor>
          </li>
        );
      })
    }
  </ul>
</nav>

<h2 class="sr-only">
  {translate(`${currentPage}Heading` as Page)}
</h2>
