---
import { useTranslations } from "@i18n/utils";

const translate = useTranslations(Astro.currentLocale);
---

<script is:inline>
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>

<script>
  function check(selector: string) {
    const input = document.querySelector<HTMLInputElement>(selector);
    if (input) {
      input.checked = true;
    }
  }
  if (document.documentElement.classList.contains("dark")) {
    check('input[value="dark"]');
  } else {
    check('input[value="light"]');
  }

  const toggleTheme = document.getElementById("toggle-theme");
  if (toggleTheme) {
    toggleTheme.querySelectorAll("input").forEach((input) => {
      input.addEventListener("change", (event) => {
        document.body.classList.add("duration-300");
        const target = event.target as HTMLInputElement;
        if (target.value === "dark") {
          localStorage.theme = "dark";
          document.documentElement.classList.add("dark");
        } else {
          localStorage.theme = "light";
          document.documentElement.classList.remove("dark");
        }
      });
    });
  }
</script>

<fieldset id="toggle-theme">
  <legend class="sr-only">{translate("pickTheme")}</legend>
  <div class="grid grid-cols-3 gap-4">
    <label
      class="w-full block border-2 border-black has-[:checked]:border-blue-600 dark:has-[:checked]:border-blue-500 rounded-md p-2 bg-black text-white has-[:focus-visible]:ring-2 ring-offset-4 ring-white ring-offset-black"
    >
      <input class="outline-none" name="theme" value="dark" type="radio" />
      <span class="font-bold">{translate("darkHeading")}</span>
      <span class="text-gray-400">{translate("darkSubHeading")}</span>
    </label>
    <label
      class="w-full block border-2 border-white has-[:checked]:border-blue-600 dark:has-[:checked]:border-blue-500 rounded-md p-2 bg-white text-black has-[:focus-visible]:ring-2 ring-offset-4 ring-black ring-offset-white"
    >
      <input class="outline-none" name="theme" value="light" type="radio" />
      <span class="font-bold">{translate("lightHeading")}</span>
      <span class="text-gray-500">{translate("lightSubHeading")}</span>
    </label>
  </div>
</fieldset>
