@config '../../tailwind.config.mjs';

@import "tailwindcss";

@theme {
  --color-real-white: #ffffff;
  --color-real-black: #000000;
  --color-white: #f8f8f2;
  --color-black: #1d1e26;
  --color-purple: #7357ff;
  --color-pink: #ff80bf;
  --color-blue: #80ffea;
  --color-cyan: #20b2aa;
  --color-ff7-pink: #ffaaaa;
}

@utility bg-ff7 {
  background-image: radial-gradient(
    circle at -180px 0px,
    #0053ad 300px,
    #001b85 500px,
    #000223
  );
  background-repeat: no-repeat;
}

@utility focus-ring {
  &:focus-visible {
    outline-offset: 4px;
    outline: 2px solid currentColor;
  }

  &:has(:focus-visible) {
    outline-offset: 4px;
    outline: 2px solid currentColor;
  }
}

@layer utilities {
  .pointer {
    @apply cursor-pointer relative outline-hidden;
  }
  .pointer::before {
    @apply hidden absolute scale-50 left-[-36px] top-1/2 mt-[-12px];
    content: url("/cursor.webp") !important;
  }
  .pointer:hover::before,
  .pointer:focus-visible::before {
    @apply block;
  }
}

.vertical-text {
  writing-mode: vertical-lr;
}
